$green-color:#198754;
.base-text-input {
    border-radius: 0px;
    border-color: #ced4da;

    &:focus {
        border-color: $green-color;
        box-shadow: none;
    }
}
$red-color:#DE254A;
@mixin base-btn($color, $bg-color) {

    border-radius: 0px;
    color: $color;
    border-color: $color;
    background-color: $bg-color;

    &:hover {
        color: $color;
        border-color: $color;
        background-color: $bg-color;
    }

    &:focus {
        box-shadow: none;
        outline: none;
        color: $color;
        background-color: darken($bg-color, 10%);
    }
}

.navbar-search-btn {
    @include base-btn(#fff, $green-color);
}
.active-nav-link{
    color: $green-color !important;
    font-weight: bold;
    
}

// card styles :
.card-body{
    border-bottom: 1px solid #ddd !important;

}

.card-title{
    color: darken($green-color,5%);
    text-decoration: none;


    &:hover{
        color: lighten($green-color , 10%);
        cursor: pointer;
    }
}
.card-date{

}


// navbar
.navbar-search-form-error-input{
    &::placeholder{
        color: $red-color;
        font-size: .8rem;
    }
}


// search result\
.search-text{
    color: $green-color;
}
.search-count{
    color: $green-color;
}
